.corpo-0-Contato{
	width: 1130px;
	margin: 0 auto;
	height: 1232px;


}

.part0-Contato{
	margin: 0 auto;
	height: 730px;
	height: 1200px;

}

.part1-Contato{
	margin: 0 auto;
	width: 830px;
	height: 500px;
	float: left;

}


.part2-Contato{
	margin: 0 auto;
	margin-left: 20px;
	width: 275px;
	height: 1200px;
	float: left;

}